:root{
    --colorDestaque: #bb820f;
    --colorDestaqueVariante1: #bb820f3d;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    overflow-x: hidden;
}
header{
    background-color: black;
    height: 70px;
    z-index: 999;
    box-shadow: 0px 10px 10px 0px rgb(0 0 0 / 50%);
}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
header li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
header li button{
    font-size: 1em;
    color: white;
    background: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
    height: 70px;
    width: 100%;

}
header li button:hover{
    background-color: var(--colorDestaqueVariante1);
}
header li img{
    height: 70px;
    position: relative;
}
@keyframes estrelaHeader {
    0%{
        opacity: 1;
    }
    70%{
        opacity: 0;
        width: 100%;

    }
    99%{
        opacity: 0;
        width: 0%;
        z-index: 1;
    }
    100%{
        width: 0%;
        z-index: -1;

    }
}


main{

}
main .cntrBanner{
    background-color: rgba(0, 0, 0, 0.83);
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: calc(100vh - 80px);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
.cntrBanner img{
    
}
.fundoHome{
    z-index: -1;
    width: 100%;
}
.logo{
    width: 500px;
    position: absolute;

}
.blurBranco{
    width: 600px;
    opacity: .2;
    position: absolute;

}
.cntrBanner button{
    position: absolute;
    bottom: 40px;
    right: 0px;
    border: none;
    border-radius: 50px 0px 0px 50px;
    padding: 20px 40px;
    font-size: 1em;
    font-weight: bold;
    background-color: #3b3a39;
    color: white;
    cursor: pointer;
}
.destaqueOuro{
    color: var(--colorDestaque);
}
.cntrEstilo{
    background-color: black;
}
.cntrEstilo h1{
    color: white;
    width: 100%;
    text-align: center;
    padding: 30px 20px;
    font-size: 2em;
}

.cntrImgsTiposDeTatto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
}
.boxTipoTattoo{
    width: 100px;
    min-width: 100px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.boxTipoTattoo img{
    border-radius: 50%;
    width: 100%;
}
.boxTipoTattoo p{
    color: white;
    width: 100%;
    text-align: center;
    font-size: .9em;
    margin-top: 10px;
}
.cntrTrabalhosBtnOrcamento{
    padding: 10px 40px;
    background-image: linear-gradient(180deg, black, #2a2929);
    padding-bottom: 40px;
    border-radius: 0px 0px 30px 30px;
}
.boxTrabalhos{
    background-color: #393736;
    border-radius: 30px;
    color: white;
    padding: 0px 10px;
    margin-top: 40px;
}
.boxTrabalhos h1{
    padding: 30px;
    width: 100%;
    text-align: center;
    font-size: 2em;
}
.boxTrabalhos h1 span{

}
.cntrImgTrabalhos{
    display: flex;
    flex-wrap: wrap;
    background-color: #4f4f4f;
}
.cntrImgTrabalhos img{
    width: 25%;
}
.boxTrabalhos button{
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
    border: none;
    background: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.boxTrabalhos button:hover{
    color: #e99400;
}
.cntrBtnOrcamento{
    position: relative;
    margin-top: 60px;
}
.spanClaro{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e99400;
    z-index: 1;
    transform: rotate(-.8deg);
    border-radius: 20px;

}
.spanEscuro{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #704600;
    z-index: 1;
    transform: rotate(.8deg);
    border-radius: 20px;
}
.cntrBtnOrcamento button{
    width: 100%;
    font-size: 2em;
    color: white;
    font-weight: bold;
    background-color: #a46800;
    border: none;
    padding: 20px;
    z-index: 2;
    position: relative;
    border-radius: 20px;
    cursor: pointer;
}
.cntrBtnOrcamento button:hover{
    background-image: linear-gradient(-90deg, #704600, #e99400);
}



.cntrSobreNos{
    color: white;
    background-color: #292828;
    margin: 30px;
    border-radius: 30px;
}

.cntrImgTextoSobreNos{
    margin-top: 50px;
}
.sobreNosH1{
    display: none;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.cntrSobreNosSemH1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 10px;
    padding: 10px;
}
.cntrImgSobreNos{
    position: relative;
    margin: 20px;
}
.cntrImgSobreNos span{
    border: 2px solid white;
    position: absolute;
    border-radius: 50%;
    z-index: 0;
}
.cntrImgSobreNos span:nth-child(1){
    top: -10px;
}
.cntrImgSobreNos span:nth-child(2){
    right: -10px;
    bottom: -10px;
}
.cntrImgSobreNos span:nth-child(3){
    left: -10px;
    bottom: -10px;

}


.cntrImgSobreNos img{
    border-radius: 50%;
    position: relative;
}
.cntrImgSobreNos,
.cntrImgSobreNos span:nth-child(1),
.cntrImgSobreNos span:nth-child(2),
.cntrImgSobreNos span:nth-child(3),
.cntrImgSobreNos img{
    width: 300px;
    height: 300px;
}

.cntrTextoSobreNos{
    padding: 10px;
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.cntrTextoSobreNos h1{
    margin-bottom: 20px;
    font-size: 2em;
}
.cntrTextoSobreNos p{
    font-size: 1em;
    line-height: 24px;
}





















@media only screen and (max-width: 980px) {
    .cntrImgsTiposDeTatto {
        flex-wrap: wrap;
        width: 90%;
    }
    .boxTipoTattoo {
        width: 130px;
        min-width: 100px;
    }
    .boxTipoTattoo img {
        width: 80%;
    }
    .boxTrabalhos h1, .cntrBtnOrcamento button {
        font-size: 1.6em;
    }
    .boxTrabalhos button {
        font-size: 1.3em;
    }

}

@media only screen and (max-width: 900px) {
    .cntrBanner button {
        bottom: 20px;
        border-radius: 50px 0px 0px 50px;
        padding: 14px 20px;
    }
    .logo {
        width: 400px;
    }
}
@media only screen and (max-width: 850px) {
    .boxTipoTattoo {
        width: 120px;
        min-width: 100px;
    }
    .cntrImgTrabalhos img {
        width: 33.33%;
    }
    .cntrImgSobreNos, .cntrImgSobreNos span:nth-child(1), .cntrImgSobreNos span:nth-child(2), .cntrImgSobreNos span:nth-child(3), .cntrImgSobreNos img {
        width: 200px;
        height: 200px;
    }
    .sobreNosH1{
        display: block;
    }
    .cntrTextoSobreNos h1 {
        display: none;
    }
    .cntrTextoSobreNos {
        padding: 10px;
        width: 100%;
        height: 200px;
    }

}
@media only screen and (max-width: 800px) {
    .cntrEstilo h1 {
        font-size: 1.6em;
    }
    .boxTrabalhos h1 {
        padding: 20px;
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 794px) {
    .boxTipoTattoo {
        width: 100px;
        min-width: 100px;
    }
    .cntrImgsTiposDeTatto {
        width: 100%;
    }
}
@media only screen and (max-width: 720px) {
    .cntrBanner button {
        display: none;
    }
    .cntrSobreNosSemH1 {
        flex-direction: column;
    }
    .cntrTextoSobreNos {
        height: fit-content;
    }
}
@media only screen and (max-width: 700px) {
    header li button{
        font-size: .9em;
        padding: 10px 20px;
    }
    .cntrTrabalhosBtnOrcamento {
        padding: 10px 20px;
        padding-bottom: 20px;
    }
    .cntrBtnOrcamento button {
        font-size: 1.4em;
    }
    .cntrBtnOrcamento {
        margin-top: 30px;
    }
}
@media only screen and (max-width: 600px) {
    .liImg{
        animation: estrelaHeader 1s both;
    }
    .cntrEstilo h1 {
        font-size: 1.3em;
    }
    .logo {
        width: 300px;
    }
    .cntrBtnOrcamento button, .boxTrabalhos button{
        font-size: 1em;
    }
    .boxTrabalhos h1 {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 500px) {
    .logo {
        width: 250px;
    }
}
  

